Notes/main.aux
.log
.out
.toc
Notes/.aux
Notes/main.log
Notes/main.out
Notes/main.synctex.gz
Notes/main.toc
_minted-main
Notes/ch01.aux
Notes/temp.tex
.aux
Notes/ch02.aux
__pycache__
Codes/Data/testDigits
Codes/Data/trainingDigits
Notes/Ch03.aux
Notes/Ch04.aux
Notes/Ch09.aux
Codes/Data/email